In [1]:
import pandas as pd
import gmaps



gkey = ""

gmaps.configure(api_key=gkey)

In [2]:
chicago = pd.read_csv("clean_chicago_data.csv")

In [3]:
chicago.head()

,week_number,week_start,week_end,tests_weekly,tests_cumulative,test_rate_weekly,test_rate_cumulative,percent_tested_positive_weekly,percent_tested_positive_cumulative,deaths_weekly,...,zip_code_location,:@computed_region_rpca_8um6,:@computed_region_vrxf_vc4k,:@computed_region_6mkv_f3dw,:@computed_region_bdys_3d7i,:@computed_region_43wa_7qmu,cases_weekly,cases_cumulative,case_rate_weekly,case_rate_cumulative
0,10,2020-03-01T00:00:00.000,2020-03-07T00:00:00.000,0,0.0,0.0,0.0,0.0,0.0,0.0,...,"{'type': 'Point', 'coordinates': [-87.625473, ...",34,38,14311,367,36,0,0,0.0,0.0
1,11,2020-03-08T00:00:00.000,2020-03-14T00:00:00.000,0,0.0,0.0,0.0,0.0,0.0,0.0,...,"{'type': 'Point', 'coordinates': [-87.625473, ...",34,38,14311,367,36,0,0,0.0,0.0
2,12,2020-03-15T00:00:00.000,2020-03-21T00:00:00.000,1,1.0,85.2,85.2,0.0,0.0,0.0,...,"{'type': 'Point', 'coordinates': [-87.625473, ...",34,38,14311,367,36,0,0,0.0,0.0
3,13,2020-03-22T00:00:00.000,2020-03-28T00:00:00.000,3,4.0,255.5,340.7,0.0,0.0,0.0,...,"{'type': 'Point', 'coordinates': [-87.625473, ...",34,38,14311,367,36,0,0,0.0,0.0
4,14,2020-03-29T00:00:00.000,2020-04-04T00:00:00.000,6,10.0,511.1,851.8,0.0,0.0,0.0,...,"{'type': 'Point', 'coordinates': [-87.625473, ...",34,38,14311,367,36,0,0,0.0,0.0

In [4]:
print(chicago["zip_code_location"][0])
print(type(chicago["zip_code_location"][0]))

{'type': 'Point', 'coordinates': [-87.625473, 41.880112]}
<class 'str'>

In [5]:
chicago["zip_code_location"].dtype

dtype('O')

In [6]:
chicago["tests_cumulative"].dtype

dtype('float64')

In [7]:
chicago["zip_code_location"][0]

"{'type': 'Point', 'coordinates': [-87.625473, 41.880112]}"

In [8]:
#start for loop
#truncating text from zip_code_location column to pull out lat and long and make two new columns 

locs = chicago["zip_code_location"]

for i in range(len(locs)):
    text = chicago["zip_code_location"][i]
    loca = text.index('[')+1
    loca2 = text.index(']')

    truncated_text = text[loca:loca2]
    loca3 = truncated_text.index(',')

    lat = truncated_text[:loca3]
    long = truncated_text[loca3+2:]
    
    chicago.loc[i, 'lat'] = lat
    chicago.loc[i, 'long'] = long

    chicago['lat'] = chicago['lat'].astype(float)
    chicago['long'] = chicago['long'].astype(float)
    
chicago

,week_number,week_start,week_end,tests_weekly,tests_cumulative,test_rate_weekly,test_rate_cumulative,percent_tested_positive_weekly,percent_tested_positive_cumulative,deaths_weekly,...,:@computed_region_vrxf_vc4k,:@computed_region_6mkv_f3dw,:@computed_region_bdys_3d7i,:@computed_region_43wa_7qmu,cases_weekly,cases_cumulative,case_rate_weekly,case_rate_cumulative,lat,long
0,10,2020-03-01T00:00:00.000,2020-03-07T00:00:00.000,0,0.0,0.0,0.0,0.0,0.000,0.0,...,38,14311,367,36,0,0,0.0,0.0,-87.625473,41.880112
1,11,2020-03-08T00:00:00.000,2020-03-14T00:00:00.000,0,0.0,0.0,0.0,0.0,0.000,0.0,...,38,14311,367,36,0,0,0.0,0.0,-87.625473,41.880112
2,12,2020-03-15T00:00:00.000,2020-03-21T00:00:00.000,1,1.0,85.2,85.2,0.0,0.000,0.0,...,38,14311,367,36,0,0,0.0,0.0,-87.625473,41.880112
3,13,2020-03-22T00:00:00.000,2020-03-28T00:00:00.000,3,4.0,255.5,340.7,0.0,0.000,0.0,...,38,14311,367,36,0,0,0.0,0.0,-87.625473,41.880112
4,14,2020-03-29T00:00:00.000,2020-04-04T00:00:00.000,6,10.0,511.1,851.8,0.0,0.000,0.0,...,38,14311,367,36,0,0,0.0,0.0,-87.625473,41.880112
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3299,5,2021-01-31T00:00:00.000,2021-02-06T00:00:00.000,0,4389.0,0.0,10202.5,0.0,0.123,2.0,...,0,4454,0,0,26,1997,60.4,4642.1,-87.808283,41.921777
3300,6,2021-02-07T00:00:00.000,2021-02-13T00:00:00.000,0,4389.0,0.0,10202.5,0.0,0.123,0.0,...,0,4454,0,0,13,2010,30.2,4672.4,-87.808283,41.921777
3301,7,2021-02-14T00:00:00.000,2021-02-20T00:00:00.000,0,4389.0,0.0,10202.5,0.0,0.123,0.0,...,0,4454,0,0,13,2023,30.2,4702.6,-87.808283,41.921777
3302,8,2021-02-21T00:00:00.000,2021-02-27T00:00:00.000,0,4389.0,0.0,10202.5,0.0,0.123,2.0,...,0,4454,0,0,16,2039,37.2,4739.8,-87.808283,41.921777
3303,9,2021-02-28T00:00:00.000,2021-03-06T00:00:00.000,0,4389.0,0.0,10202.5,0.0,0.123,0.0,...,0,4454,0,0,15,2054,34.9,4774.6,-87.808283,41.921777

In [9]:
chicago = chicago.sort_values(["lat", "long", "cases_cumulative"], ascending=False)
chicago2 = chicago.groupby(["lat", "long"])["cases_cumulative"].max().reset_index()
chicago2

          lat       long  cases_cumulative
0  -87.896371  41.979511                 0
1  -87.817934  41.974566              2830
2  -87.813371  41.995019              2899
3  -87.808283  41.921777              2119
4  -87.797373  41.944967              9631
5  -87.771902  41.787032              7321
6  -87.761826  41.993931              2515
7  -87.759611  41.971261              5203
8  -87.756863  41.881113              3910
9  -87.755310  41.920609             13656
10 -87.746791  41.946682              8374
11 -87.741017  41.901964              7198
12 -87.722735  41.879417              2999
13 -87.717446  41.850321             10355
14 -87.714238  41.745398              4931
15 -87.711565  41.777061             16353
16 -87.711251  41.810038             12707
17 -87.703343  41.946699              7758
18 -87.703266  41.990803              3765
19 -87.701816  41.971155              6478
20 -87.701434  41.696456              3241
21 -87.701101  41.921058              8171
22 -87.695049  42.008927              4421
23 -87.687011  41.880040              3142
24 -87.681818  41.902762              4744
25 -87.670366  41.849879              7584
26 -87.669834  42.009469              4024
27 -87.668597  41.775990              2905
28 -87.666362  41.991062              2580
29 -87.662381  41.700445              3965
30 -87.662232  41.971888              4276
31 -87.661343  41.953742              3486
32 -87.658216  41.939715              4898
33 -87.657821  41.899935              1853
34 -87.653382  41.812017              6774
35 -87.652727  41.876104              2425
36 -87.652064  41.922605              5297
37 -87.651656  41.740873              4780
38 -87.644283  41.882786               753
39 -87.638812  41.776931              2059
40 -87.636760  41.882634               293
41 -87.636354  41.892485              1886
42 -87.635810  41.904550              3163
43 -87.633087  41.650765               294
44 -87.629531  41.844869              3421
45 -87.629029  41.878153                98
46 -87.628309  41.883136               100
47 -87.625473  41.880112                72
48 -87.623449  41.867824              1777
49 -87.622844  41.886262               999
50 -87.621537  41.694192              4610
51 -87.620291  41.894734              2092
52 -87.611244  41.819261              2347
53 -87.605690  41.744737              4013
54 -87.604053  41.780991              2952
55 -87.602725  41.801993              2058
56 -87.571522  41.762202              2994
57 -87.556897  41.721257              7253
58 -87.556037  41.653147              1262

In [10]:
chicago2.to_csv("chi_heatmap.csv", index = False)

In [11]:
# Store latitude and longitude in locations
locations = chicago2[["long", "lat"]]
cases = chicago2["cases_cumulative"]

In [12]:
len(locations)
len(cases)

59

In [13]:
# Plot Heatmap
gmaps.figure(display_toolbar=True, 
             display_errors=True, 
             zoom_level=7,
             center={41.8781, -87.6298},
             tilt=45, 
             layout=None, 
             map_type='ROADMAP', 
             mouse_handling='COOPERATIVE')


# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=cases, 
                                 dissipating=False, max_intensity=10,
                                 point_radius=.1)


# Add layer
fig.add_layer(heat_layer)
fig

NameError: name 'fig' is not defined

In [14]:
locations.iloc[1]

long    41.974566
lat    -87.817934
Name: 1, dtype: float64

In [30]:
fig = gmaps.figure(display_toolbar=True, 
             display_errors=True, 
             zoom_level=12,
             center={41.8781, -87.6298},
             tilt=45, 
             layout=None, 
             map_type='ROADMAP', 
             mouse_handling='COOPERATIVE')


# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=cases, 
                                 dissipating=False, max_intensity=50000,
                                 point_radius=.02)
# Add layer
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

AttributeError: 'Figure' object has no attribute 'savefig'