In [1]:
# Dependencies
import pandas as pd

In [2]:
# Store filepaths in variables
big_key_stats = "big_key_stats.xlsx"
big_by_rev = "big_by_rev.xlsx"
big_by_ind = "big_industry.xlsx"
big_by_race = "big_race.xlsx"

In [3]:
# Read data file with pandas library
big_key_stats_df = pd.read_excel(big_key_stats)
big_by_rev_df = pd.read_excel(big_by_rev)
big_by_ind_df = pd.read_excel(big_by_ind)
big_by_race_df = pd.read_excel(big_by_race)

In [4]:
# Key stats
big_key_stats_df.head()

,BIG Recipients,Number of Grants,Percentage of Grants,Grant Amount (Millions),Percentage of Funds
0,Minority-Owned,3597,0.40,88,0.32
1,Woman-Owned,3347,0.37,85,0.31
2,Under $1M Annual Revenue,7381,0.82,221,0.80
3,In Disproportionately Impacted Areas,4211,0.47,116,0.42
4,In Downstate Counties*,3157,0.35,105,0.38

In [5]:
# BIG recipients by revenue
big_by_rev_df.head()

,2019 Revenues (millions of dollars),Number of Grants,Percentage of Grants,Grant Amount (Millions),Percentage of Funds
0,<0.5,5941,0.66,176,0.64
1,0.5-1,1440,0.16,45,0.16
2,1-2,1021,0.11,34,0.12
3,2-5,508,0.06,18,0.06
4,>5,61,0.01,3,0.01

In [6]:
# BIG recipients by industry
big_by_ind_df.head()

,Type of Industry,Number of Grants,Percentage of Grants,Grant Amount (Millions),Percentage of Funds
0,Restaurants and Bars,3747,0.42,133,0.48
1,Gyms and Fitness Centers,636,0.07,16,0.06
2,"Event spaces, concert venues, and performing a...",518,0.06,25,0.09
3,Indoor Recreation,269,0.03,17,0.06
4,Support services for arts and events,535,0.06,21,0.08

In [7]:
# BIG recipients by race
big_by_race_df.head()

,Race or Ethnicity,Number of Grants,Percentage of Grants,Grant Amount (Millions),Percentage of Funds,Ownership Employer Firms in IL,Ownership Non-Employer Firms in IL*
0,White or Caucasian,4478,0.500,152,0.550,0.78,0.68
1,Black or African American,1084,0.120,17,0.060,0.02,0.13
2,Hispanic or Latinx,765,0.090,18,0.070,0.05,0.10
3,Asian American or Pacific Islander,1565,0.170,48,0.170,0.09,0.07
4,"American Indian, Indigenous, Native American, ...",34,0.004,1,0.004,0.00,0.00